{% extends 'base.html' %}
{% load static %}


{% block content %}

      <!-- Ролл -->


      {% for product_image in products_images %}

     
            
      <div class="col-md-6">

         <form id="form_buying_product" method="POST" class="form-inline" action="{% url 'basket_adding' %}">
            {% csrf_token %}

            <div class="card mb-4 form_buying_product" data-id="{{ product_image.product.id }}">
               <img src="{{ product_image.image.url }}" class="product-img" alt="">
               <div class="card-body text-center">
                  <h4 id="user_name_input" class="item-title"><a href="{% url 'product' product_image.product.id %}">{{ product_image.product.name }}</a></h4>
                  
                  <!-- <p class="quantity"><small id="quantity" data-items-in-box class="text-muted">{{ product_image.product.quantity_in_stock }} шт.</small></p> -->
                  
                  <div class="details-wrapper">

                     <!-- <div class="items counter-wrapper"> -->
                        {% if product_image.product.quantity_in_stock > 0 %}
                        <!-- <input type="number" class="items__current" name="number" min="1" max="{{ product_image.product.nmb }}" id="number"> -->
                        <button type="button" onclick="this.nextElementSibling.stepDown()">-</button>
                        <input type="number" id="number" name="number" min="1" max="{{ product_image.product.quantity_in_stock }}" value="1" readonly class="raz">
                        <button type="button" id="previousElementSibling" onclick="this.previousElementSibling.stepUp()">+</button>

                        {% else %}
                            0
                        {% endif %}

                     <!-- </div> -->

                     <div class="price">
                        <div class="price__weight">180г.</div>
                        <div class="price__currency">{{ product_image.product.price }}</div>
                     </div>
                  </div>
                  {% if product_image.product.quantity_in_stock > 0 %}
                  <button data-cart type="submit" id="submit_btn" class="btn btn-block btn-outline-warning"
                     data-product_id = "{{ product_image.product.id }}"
                     data-image = "{{ product_image.image.url }}"
                     data-name = "{{ product_image.product.name }}"
                     data-price = "{{ product_image.product.price }}"
                     data-quantity = "{{ product_image.product.quantity_in_stock }}"
                  >+ в корзину</button>
                  {% else %}
                  Нет на складе
                  {% endif %}

               </div>
            </div>
         </form>
      </div>
    
      {% endfor %}
      <!-- // Ролл -->

{% endblock %}