{% extends 'base_checkout.html' %}
{% load static %}

{% block content_checout %}
    <div class="container">
        <div class="row">
            {% if products_in_basket %}
                <div class="col-lg-8 col-lg-offset-2">
                    <h3 class="text-center">Товары в корзине</h3>
                    <h5 class="text-center">Общая стоимость: руб.</h5>
                        <form method="POST" class="form-horizontal">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <label>Имя: </label>
                                    <span class="form-error">{{ form.name.errors }}</span>
                                    <input type="text" name="{{ form.name.html_name }}" class="form-control"
                                        value="{{ request.POST.name }}"
                                    >
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <label>Телефон: </label>
                                    <span class="form-error">{{ form.phone.errors }}</span>
                                    <input type="text" name="{{ form.phone.html_name }}" class="form-control"
                                    value="{{ request.POST.phone }}"
                                    >
                                </div>
                            </div>
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th>Картинка товара</th>
                                        <th>Название товара</th>
                                        <th>Колличество</th>
                                        <th>Цена за еденицу</th>
                                        <th>Общая цена</th>
                                        <th>Удалить</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product_in_basket in products_in_basket %}
                                        <tr>
                                            <td>
                                                <div class="cart-item__img">
                                                    <img src="{{ product_in_basket.product.main_image.image.url }}" class="product-img" alt="">
                                                </div>
                                            </td>
                                            <td>
                                                {{ product_in_basket.product.name }}
                                            </td>
                                            <td>
                                                <input type="number" value="{{ product_in_basket.nmb }}" min="1" max="{{ product_in_basket.product.quantity_in_stock }}" class="product-in-basket-nmb" name="product_in_basket_{{ product_in_basket.id }}">
                                            </td>
                                            <td>
                                                <span class="product-price">
                                                    {{ product_in_basket.price_per_item }}
                                                </span>
                                            </td>
                                            <td>
                                                <span class="total-product-in-basket-amount">
                                                    {{ product_in_basket.total_price }}
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <a href="{% url 'product_remove_checkout' product_id=product_in_basket.id %}" href="">Удалить</a>
                                                </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <div class="text-right">
                                <b>Сумма заказа: </b> <span id="total_order_amount"></span>
                            </div>
                            <hr>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary btn-lg">Заказать</button>
                            </div>

                        </form>
                </div>
                {% else %}
                    <h3 class="text-center">В вашей корзине нет товара</h3>
            {% endif %}
        </div>
    </div>

{% endblock %}